img{

  width: 400px;
  height: 400px;

}
.cont{
  margin-left: 1200px;
  margin-top: 50px;
}
@media (max-width: 576px) {
  img{
    width: 200px;
    height: 200px;
    border: 2px solid purple;
    border-radius: 100%;
  }
  .cont{
    margin-top: 250px;
    margin-left: 50px;
    color: white;
  }
}
